@use "../../responsive.scss" as *;
@use "../../variables.scss" as *;

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        transition: all 0.4s ease;

        @include sm{
            display: none;
        }

        &:hover{
            scale: 1.05;
        }
    }

    .left{
        flex:3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 48px;
            }

            /* Hide logo text on medium screens. Return on small screens */
            span{
                @include md{
                    display: none;
                }
                @include sm{
                    display: initial;
                }
            }
        }
    }
    .right{
        flex:2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        a{
            padding: 12px 24px;
            margin: 20px;

            @include md{
                margin: 10px;
            }
        }

        .user{
            display: flex;
            align-items: center;
            font-weight: bold;

            @include md{
                .userName{
                    display: none;
                }
            }

            @include sm{
                display: none;
            }

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid $myOrange;
                object-fit: cover;
                margin-right: 10px;
            }

            .profile{
                padding: 12px 24px;
                color: white;
                cursor: pointer;
                background-color: $myOrange;
                border-radius: 10px;
                position: relative;

                .notification{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -5px;
                    right: -5px;
                    background-color: red;
                    color: white;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    filter: drop-shadow(0 0 2px black);
                }
            }
        }


        .register{
            background-color: $myOrange;
            border-radius: 10px;
        }

        .hamMenu{
            display: none;
            height: 50px;
            width: 50px;
            margin-left: auto;
            position: relative;
            z-index: 10;
            
            span{
                height: 5px;
                width: 100%;
                background-color: $myOrange;
                border-radius: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.4s ease;
                cursor: pointer;
            }
            span:nth-child(1){
                top: 25%;
            }
            span:nth-child(2){
                top: 50%;
            }
            span:nth-child(3){
                top: 75%;
            }

            &.active {
                span:nth-child(1) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                span:nth-child(2) {
                    opacity: 0;
                }
                span:nth-child(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }

            @include sm{
                display: initial;
            }
        }

        .mobileMenu {
            position:absolute;
            top: 0;
            right: -50%;
            background-color: $myDarkBlue;
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 0.4s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50;
            font-size: 24px;
            font-weight: bold;

            &.active{
                right: 0;
            }

            @include sm{
                a{
                    display: initial;
                }
            }
        }
    }
}