$myOrange: #fbb03b;
$myOrangeHighlight: #e7a437;
$myOrangeTransparent: #fbb13b5b;
$myDarkBlue: #141429;
$myDarkBlueTransparent: #14142928;

$lightModeBackground: #f5f5f5;
$lightModeText: #141429;

$darkModeBackground: #070709;
$darkModeText: #f5f5f5;